<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "me.jpg" %>
	</div>
	
	<div id="content">
		<h1>My name is Mr.Rahymov</h1>
		<p>Welcome to my pages </p>
		<p>Follow me on Twitter <a href="www.twitter.com">rahymov.me </a></p>
	</div>
</div>